[submodule "devices/gantry/capability"]
	path = devices/gantry/capability
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-gantry-capability
[submodule "devices/gantry/driver"]
	path = devices/gantry/driver
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-gantry-driver
[submodule "devices/ph_sensor/capability"]
	path = devices/ph_sensor/capability
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-ph-sensor-capability
[submodule "devices/ph_sensor/driver"]
	path = devices/ph_sensor/driver
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-ph-sensor-driver
[submodule "devices/camera/capability"]
	path = devices/camera/capability
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-camera-capability
[submodule "devices/camera/driver"]
	path = devices/camera/driver
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-camera-driver
[submodule "devices/dosing_pump/capability"]
	path = devices/dosing_pump/capability
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-dosing-pump-capability
[submodule "devices/dosing_pump/driver"]
	path = devices/dosing_pump/driver
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-dosing-pump-driver
[submodule "devices/device_template/capability"]
	path = devices/device_template/capability
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-device-template-capability
