[submodule "devices/gantry/frontend"]
	path = devices/gantry/frontend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-gantry-frontend
[submodule "devices/gantry/backend"]
	path = devices/gantry/backend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-gantry-backend
[submodule "devices/ph_sensor/frontend"]
	path = devices/ph_sensor/frontend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-ph-sensor-frontend
[submodule "devices/ph_sensor/backend"]
	path = devices/ph_sensor/backend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-ph-sensor-backend
[submodule "devices/camera/frontend"]
	path = devices/camera/frontend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-camera-frontend
[submodule "devices/camera/backend"]
	path = devices/camera/backend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-camera-backend
[submodule "devices/dosing_pump/frontend"]
	path = devices/dosing_pump/frontend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-dosing-pump-frontend
[submodule "devices/dosing_pump/backend"]
	path = devices/dosing_pump/backend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-dosing-pump-backend
[submodule "devices/device_template/frontend"]
	path = devices/device_template/frontend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-device-template-frontend
[submodule "devices/device_template/backend"]
	path = devices/device_template/backend
	url = /home/johnbrittain/Documents/John/work/Ames_National_Labs/rxn-bench-device-repos/rxn-bench-device-template-backend
